{% extends 'base.html.twig' %}

{% block body %}


<div class="container">
    
<div style="margin-bottom:30px"></div>

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success" href="{{ path('usuario_new') }}">Crear un nuevo usuario</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2> Bienvenido {{ app.user.username }}</h2>
        </div>
    </div>


        {% for flashMessage in app.session.flashbag.get('mensaje') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}


            <h1>Lista de usuarios</h1>

            <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{% if user.isActive %}Si{% else %}No{% endif %}</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="btn btn-warning" href="{{ path('usuario_edit', { 'id': user.id }) }}">Editar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

</div>


<div style="margin-bottom:20%"></div>
    


{% endblock %}
