{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    
<div style="margin-bottom:30px"></div>

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success" href="{{ path('cliente_new') }}">Crear un nuevo cliente</a>
        </div>
    </div>

    <div class="row" style="margin-top:15px">
        Total registros: {{ pagination.getTotalItemCount }} 
    </div>

        {% for flashMessage in app.session.flashbag.get('mensaje') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        
    <div class="row" style="margin-top:15px">

        <form id="formu" action="{{ path('cliente_index') }}" method="post">

            <div class="form-group">
                <div class="col-md-4">
                    <label for="">Nombre</label>
                    <input type="text" value="{{ busqueda['nombre'] }}" class="form-control" name="nombre" id="nombre" placeholder="nombre">
                </div>
                <div class="col-md-4">
                    <label for="">Cedula</label>
                    <input type="text" value="{{ busqueda['cedula'] }}" class="form-control" name="cedula" id="cedula" placeholder="Cedula">
                </div>
                <div class="col-md-4">
                    <label for="">Numero de registro</label>
                    <input type="text" value="{{ busqueda['numeroRegistro'] }}" class="form-control" name="numeroRegistro" id="numeroRegistro" placeholder="Numero de registro">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12" style="margin-top:15px">
                    <input type="submit" class="btn btn-info btn-lg" value="Buscar">
                </div>
                <div class="col-md-12" style="margin-top:15px">
                    <input type="reset" class="btn btn-primary btn-lg" value="Limpiar" onclick ="">
                </div>
            </div>  
        </form>

    </div>

    

    {% if pagination.getTotalItemCount > 0 %}

    <h1>Lista de clientes</h1>

    <div class="table-responsive" id="mensaje">
        <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Nombre', 'c.nombre') }}</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Numeroregistro</th>
                <th>Fechacurso</th>
                <th>Descargarcertificado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in pagination %}
            <tr>
                <td>{{ customer.nombre }}</td>
                <td>{{ customer.apellido }}</td>
                <td>{{ customer.cedula }}</td>
                <td>{{ customer.celular }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.numeroRegistro }}</td>
                <td>{{ customer.fechaCurso|date("m/d/Y") }}</td>
                <td>{% if customer.descargarCertificado %}Si{% else %}No{% endif %}</td>
                <td>
                    <a class='btn btn-warning' href="{{ path('cliente_edit', { 'id': customer.id }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>



{% endif %}


{% if pagination.getTotalItemCount == 0 %}
    <h2>No se encontraron registros</h2>
{% endif %}



</div>


<div style="margin-bottom:20%"></div>

{% endblock %}



