{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ customer.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ customer.apellido }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ customer.cedula }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ customer.celular }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ customer.email }}</td>
            </tr>
            <tr>
                <th>Numeroregistro</th>
                <td>{{ customer.numeroRegistro }}</td>
            </tr>
            <tr>
                <th>Fechacurso</th>
                <td>{{ customer.fechaCurso }}</td>
            </tr>
            <tr>
                <th>Descargarcertificado</th>
                <td>{% if customer.descargarCertificado %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cliente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cliente_edit', { 'id': customer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
